### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline


# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv('movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [3]:
movies.head()

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumière (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror

In [4]:
# cell for work
#'The number of movies in the dataset'
print( "The number of movies is {}.".format(movies.shape[0]))

The number of movies is 35479.

In [5]:
# cell for work
#'The number of ratings in the dataset'
print("The number of ratings is {}.".format(reviews.shape[0]))

The number of ratings is 863866.

In [6]:
#'The number of different genres'

movies['genre'].value_counts()

genere_categories = movies['genre'].str.split(pat = '|' , expand = True)
ab = genere_categories[0].value_counts()
ab.count()

28

In [7]:
# number of different genres/ Another way
genres = []
for val in movies.genre:
    try:
        genres.extend(val.split('|'))
    except AttributeError:
        pass

# we end up needing this later
genres = set(genres)
print("The number of genres is {}.".format(len(genres)))

The number of genres is 28.

In [8]:
# more work
#'The number of unique users in the dataset':
print("The number of unique users is {}.".format(reviews.user_id.nunique()))

The number of unique users is 67353.

In [7]:
# and still more
#'The number missing ratings in the reviews dataset':
int(reviews.rating.isnull().mean()*reviews.shape[0])

0

In [8]:
# and even more - open additional cells as necessary

In [9]:
# Use your findings to match each variable to the correct statement in the dictionary
a = reviews.user_id.nunique()
b = reviews.rating.max()
c = np.round(reviews.rating.mean(), 0)
d = movies.shape[0]
e = reviews.rating.min()
f = int(reviews.rating.isnull().mean()*reviews.shape[0])
h = reviews.shape[0]
i = len(genres)

dict_sol1 = {
'The number of movies in the dataset': d, 
'The number of ratings in the dataset': h,
'The number of different genres': i, 
'The number of unique users in the dataset': a, 
'The number missing ratings in the reviews dataset': f, 
'The average rating given across all ratings': c,
'The minimum rating given across all ratings': e,
'The maximum rating given across all ratings': b
}

# Check your solution
t.q1_check(dict_sol1)

That looks good to me!

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [10]:
# cell for work
print(movies.head())
movies['movie'].head()

  movie_id                                              movie  \
0  0000008      Edison Kinetoscopic Record of a Sneeze (1894)
1  0000010                La sortie des usines Lumière (1895)
2  0000012                      The Arrival of a Train (1896)
3       25  The Oxford and Cambridge University Boat Race ...
4  0000091                         Le manoir du diable (1896)

               genre
0  Documentary|Short
1  Documentary|Short
2  Documentary|Short
3                NaN
4       Short|Horror

0        Edison Kinetoscopic Record of a Sneeze (1894)
1                  La sortie des usines Lumière (1895)
2                        The Arrival of a Train (1896)
3    The Oxford and Cambridge University Boat Race ...
4                           Le manoir du diable (1896)
Name: movie, dtype: object

In [11]:
#Extract Movie date
create_date = lambda val: val[-5:-1] if val[-1] == ')' else np.nan

movies['date'] = movies['movie'].apply(create_date)
movies.head()

,movie_id,movie,genre,date
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895
4,0000091,Le manoir du diable (1896),Short|Horror,1896

In [12]:
#Create Dummy value for century
century_1800s = lambda n : 1 if n[:-2] == '18' else 0
century_1900s = lambda n1 : 1 if n1[:-2] == '19' else 0
century_2000s = lambda n2 : 1 if n2[:-2] == '20' else 0

movies['1800s'] = movies['date'].apply(century_1800s)
movies['1900s'] = movies['date'].apply(century_1900s)
movies['2000s'] = movies['date'].apply(century_2000s)

In [13]:
def split_genres(val):
    try:
        if val.find(gene) >-1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# Apply function for each genre
for gene in genres:        
    movies[gene] = movies['genre'].apply(split_genres)

In [14]:
movies

,movie_id,movie,genre,date,1800s,1900s,2000s,Music,Film-Noir,Thriller,...,News,Game-Show,War,Documentary,Reality-TV,Biography,Mystery,Talk-Show,Sci-Fi,Fantasy
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0000131,Une nuit terrible (1896),Short|Comedy|Horror,1896,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0000417,A Trip to the Moon (1902),Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
7,0000439,The Great Train Robbery (1903),Short|Action|Crime|Western,1903,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN,1903,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0000628,The Adventures of Dollie (1908),Action|Short,1908,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0000833,The Country Doctor (1909),Short|Drama,1909,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0001223,Frankenstein (1910),Short|Horror|Sci-Fi,1910,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,0001740,The Lonedale Operator (1911),Short|Drama|Romance,1911,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0002101,Cleopatra (1912),Drama|History,1912,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0002130,L'inferno (1911),Adventure|Drama|Fantasy|Horror,1911,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,0002354,Max et Jane veulent faire du théâtre (1911),Short|Comedy|Romance,1911,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0002844,Fantômas - À l'ombre de la guillotine (1913),Crime|Drama,1913,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0003740,Cabiria (1914),Adventure|Drama|History,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0003863,Dough and Dynamite (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0004099,"His Majesty, the Scarecrow of Oz (1914)",Family|Fantasy|Adventure|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0004100,His Musical Career (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0004101,His New Profession (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0004210,Laughing Gas (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0004395,The New Janitor (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0004413,The Ocean Waif (1916),Short|Comedy|Drama,1916,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0004457,The Patchwork Girl of Oz (1914),Adventure|Family|Fantasy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,0004518,Recreation (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0004546,The Rounders (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0004936,The Bank (1915),Comedy|Short,1915,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0004972,The Birth of a Nation (1915),Drama|History|War,1915,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35449,11615038,After Truth: Disinformation and the Cost of Fa...,Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35450,11615290,Beastie Boys Story (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35451,11642302,cats_the_mewvie (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35452,11644096,What Did Jack Do? (2017),Short|Comedy|Mystery,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
35453,11644170,What Did Jack Do? (2017),Short|Comedy|Crime|Drama|Fantasy|Music|Mystery...,2017,0,0,1,1,0,1,...,0,0,0,0,0,0,1,0,0,1
35454,11649614,Hitman: Agent Jun (2020),Action|Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35455,11697832,DAU. Natasha (2020),Drama,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35456,11708788,Mekah I'm Coming (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35457,11709306,Piremardha nemimirand (2019),Comedy|Drama,2019,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35458,11727052,The Closet (2020),Horror|Mystery,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
35459,11738792,Taylor Tomlinson: Quarter-Life Crisis (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35460,11744784,Barrymore: The Body in the Pool (2020),Documentary|Crime,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35461,11749480,Shooter (2020),Action,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35462,11777040,Sanyangeui sigan (2020),Crime|Drama|Sci-Fi|Thriller,2020,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
35463,11777308,Murder Death Koreatown (2020),Crime|Horror|Mystery,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
35464,11810418,Marc Maron: End Times Fun (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35465,11810424,Bert Kreischer: Hey Big Boy (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35466,11861072,Tom Segura: Ball Hog (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35467,11898442,Playdate with Destiny (2020),Animation|Short|Adventure|Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35468,11903004,Hotel Belgrade (2020),Comedy|Romance,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35469,11905962,Sputnik (2020),Sci-Fi,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35470,11916278,The Scheme (2020),Documentary|Crime,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35471,11953628,Maska (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35472,11987296,Chris D'Elia: No Pain (2020),Comedy,2020,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35473,12027020,LA Originals (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35474,12036052,Elephant (2020),Documentary|Adventure|Biography|Family,2020,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
35475,12058882,Coachella: 20 Years in the Desert (2020),Documentary|Music,2020,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
35476,12078990,Money Heist: The Phenomenon (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35477,12131262,Out of Shadows (2020),Documentary,2020,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35478,12192654,Planet of the Humans (2019),NaN,2019,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
import datetime

change_timestamp = lambda val: datetime.datetime.fromtimestamp(int(val)).strftime('%Y-%m-%d %H:%M:%S')

reviews['date'] = reviews['timestamp'].apply(change_timestamp)

In [17]:
reviews['date']

0         2013-10-05 21:00:50
1         2020-04-09 21:01:12
2         2020-01-15 03:10:27
3         2020-01-09 20:50:53
4         2020-01-13 22:48:17
5         2020-01-20 22:27:24
6         2020-03-08 22:25:05
7         2020-01-25 10:57:22
8         2020-04-09 12:45:54
9         2020-01-17 11:50:30
10        2020-03-15 19:20:27
11        2014-01-31 22:27:59
12        2014-01-05 20:57:18
13        2013-11-02 19:15:33
14        2013-12-27 18:46:47
15        2015-01-30 21:13:47
16        2013-04-12 03:46:57
17        2013-05-10 22:23:19
18        2013-08-23 02:39:49
19        2013-04-12 03:48:24
20        2013-08-23 02:41:26
21        2015-05-04 00:35:54
22        2015-02-02 06:38:23
23        2016-05-11 16:05:25
24        2016-05-10 09:54:43
25        2014-01-17 23:35:06
26        2015-12-10 21:48:29
27        2015-03-01 19:45:29
28        2016-08-30 22:49:49
29        2016-08-30 21:14:15
                 ...
863836    2020-03-22 12:44:42
863837    2020-01-11 21:50:57
863838    2020-03-29 21:59:30
863839    2020-03-14 21:25:12
863840    2020-04-22 22:37:02
863841    2020-03-25 23:20:52
863842    2020-02-25 21:30:11
863843    2020-01-17 22:43:51
863844    2020-04-10 22:04:53
863845    2020-02-05 21:05:08
863846    2020-02-22 00:28:58
863847    2020-04-04 20:50:15
863848    2020-04-06 23:09:15
863849    2020-02-28 23:40:28
863850    2020-03-03 21:12:29
863851    2020-04-14 22:33:26
863852    2020-03-22 00:24:37
863853    2020-03-26 23:34:42
863854    2020-03-24 22:00:50
863855    2020-03-26 21:50:19
863856    2020-03-12 05:17:44
863857    2020-01-25 22:31:52
863858    2020-03-09 09:59:03
863859    2020-02-08 22:15:36
863860    2020-02-07 23:46:46
863861    2020-02-01 00:37:28
863862    2020-04-04 00:00:52
863863    2020-04-17 07:03:35
863864    2020-04-17 07:17:32
863865    2013-03-09 12:37:35
Name: date, Length: 863866, dtype: object

In [19]:
# now reviews and movies are the final dataframes with the necessary columns
reviews.to_csv('./reviews_clean.csv')
movies.to_csv('./movies_clean.csv')

In [18]:
reviews_new, movies_new = t.show_clean_dataframes()

   Unnamed: 0  user_id  movie_id  rating   timestamp                 date  \
0           0        1     68646      10  1381620027  2013-10-12 23:20:27
1           1        1    113277      10  1379466669  2013-09-18 01:11:09
2           2        2    422720       8  1412178746  2014-10-01 15:52:26
3           3        2    454876       8  1394818630  2014-03-14 17:37:10
4           4        2    790636       7  1389963947  2014-01-17 13:05:47

   month_1  month_2  month_3  month_4    ...      month_9  month_10  month_11  \
0        0        0        0        0    ...            0         1         0
1        0        0        0        0    ...            0         0         0
2        0        0        0        0    ...            0         1         0
3        0        0        0        0    ...            0         0         0
4        0        0        0        0    ...            0         0         0

   month_12  year_2013  year_2014  year_2015  year_2016  year_2017  year_2018
0         0          1          0          0          0          0          0
1         0          1          0          0          0          0          0
2         0          0          1          0          0          0          0
3         0          0          1          0          0          0          0
4         0          0          1          0          0          0          0

[5 rows x 24 columns]
   Unnamed: 0  movie_id                                              movie  \
0           0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1           1        10                La sortie des usines Lumière (1895)
2           2        12                      The Arrival of a Train (1896)
3           3        25  The Oxford and Cambridge University Boat Race ...
4           4        91                         Le manoir du diable (1896)

               genre  date  1800's  1900's  2000's  History  News    ...     \
0  Documentary|Short  1894       1       0       0        0     0    ...
1  Documentary|Short  1895       1       0       0        0     0    ...
2  Documentary|Short  1896       1       0       0        0     0    ...
3                NaN  1895       1       0       0        0     0    ...
4       Short|Horror  1896       1       0       0        0     0    ...

   Fantasy  Romance  Game-Show  Action  Documentary  Animation  Comedy  Short  \
0        0        0          0       0            1          0       0      1
1        0        0          0       0            1          0       0      1
2        0        0          0       0            1          0       0      1
3        0        0          0       0            0          0       0      0
4        0        0          0       0            0          0       0      1

   Western  Thriller
0        0         0
1        0         0
2        0         0
3        0         0
4        0         0

[5 rows x 36 columns]

In [74]:
reviews_new

,Unnamed: 0,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,5,2,816711,8,1379963769,2013-09-23 19:16:09,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,6,2,1091191,7,1391173869,2014-01-31 13:11:09,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,7,2,1103275,7,1408192129,2014-08-16 12:28:49,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,8,2,1322269,7,1391529691,2014-02-04 16:01:31,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,9,2,1390411,8,1451374513,2015-12-29 07:35:13,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
10,10,2,1398426,8,1456160307,2016-02-22 16:58:27,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,11,2,1431045,7,1457733508,2016-03-11 21:58:28,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,12,2,1433811,8,1380453043,2013-09-29 11:10:43,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,13,2,1454468,8,1387016442,2013-12-14 10:20:42,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
14,14,2,1535109,8,1386350135,2013-12-06 17:15:35,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
15,15,2,1675434,8,1396688981,2014-04-05 09:09:41,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,16,2,1798709,10,1389948338,2014-01-17 08:45:38,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,17,2,2017038,7,1390570895,2014-01-24 13:41:35,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,18,2,2024544,10,1389355949,2014-01-10 12:12:29,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,19,2,2294629,8,1392455710,2014-02-15 09:15:10,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,20,2,2361509,8,1446837136,2015-11-06 19:12:16,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
21,21,2,2381249,5,1446837214,2015-11-06 19:13:34,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
22,22,2,2726560,9,1438293988,2015-07-30 22:06:28,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23,23,2,2883512,8,1432407808,2015-05-23 19:03:28,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,24,2,3079380,8,1433614454,2015-06-06 18:14:14,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,25,3,1790864,7,1448832437,2015-11-29 21:27:17,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
26,26,3,2170439,7,1447542932,2015-11-14 23:15:32,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
27,27,3,2203939,6,1452467314,2016-01-10 23:08:34,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,28,4,1300854,7,1368156300,2013-05-10 03:25:00,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,29,5,54953,5,1415080947,2014-11-04 06:02:27,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712307,712307,53966,5503688,7,1508359550,2017-10-18 20:45:50,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712308,712308,53966,5519340,5,1514065559,2017-12-23 21:45:59,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712309,712309,53966,5541240,6,1500132063,2017-07-15 15:21:03,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712310,712310,53966,5580036,6,1520201180,2018-03-04 22:06:20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712311,712311,53966,5580390,4,1520005525,2018-03-02 15:45:25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712312,712312,53966,5580536,3,1484082432,2017-01-10 21:07:12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712313,712313,53966,5599692,6,1486329609,2017-02-05 21:20:09,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712314,712314,53966,5657846,4,1518212247,2018-02-09 21:37:27,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712315,712315,53966,5666304,4,1523835422,2018-04-15 23:37:02,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712316,712316,53966,5715874,2,1523702856,2018-04-14 10:47:36,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712317,712317,53966,5716464,5,1514327625,2017-12-26 22:33:45,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712318,712318,53966,5719700,5,1511995252,2017-11-29 22:40:52,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
712319,712319,53966,5721088,3,1520745417,2018-03-11 05:16:57,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712320,712320,53966,5776858,5,1523921325,2018-04-16 23:28:45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712321,712321,53966,5816682,6,1514666854,2017-12-30 20:47:34,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712322,712322,53966,5884230,2,1524694574,2018-04-25 22:16:14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712323,712323,53966,5884234,6,1501110496,2017-07-26 23:08:16,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712324,712324,53966,5929750,4,1503706655,2017-08-26 00:17:35,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712325,712325,53966,5962210,5,1509488338,2017-10-31 22:18:58,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712326,712326,53966,6000478,7,1517176691,2018-01-28 21:58:11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712327,712327,53966,6204340,5,1516237542,2018-01-18 01:05:42,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712328,712328,53966,6265828,1,1505940901,2017-09-20 20:55:01,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712329,712329,53966,6294822,5,1524347456,2018-04-21 21:50:56,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712330,712330,53966,6359956,6,1516060311,2018-01-15 23:51:51,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712331,712331,53966,6421110,5,1522275066,2018-03-28 22:11:06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712332,712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712333,712333,53966,6684714,5,1516287632,2018-01-18 15:00:32,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712334,712334,53967,816711,8,1371972851,2013-06-23 07:34:11,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712335,712335,53968,1559547,2,1373287369,2013-07-08 12:42:49,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712336,712336,53968,2415464,2,1373772560,2013-07-14 03:29:20,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0